Flask==2.2.5
Flask_Cors==4.0.0
grpcio==1.60.0
ipython==8.12.3
librosa==0.10.1
matplotlib==3.8.0
nemo_toolkit==1.22.0
numpy==1.23.5
nvidia_riva_client==2.14.0
scipy==1.12.0
tensorflow==2.14.0
torch==2.0.1
einops==0.7.0